<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="tbi-padding">
    <form [formGroup]="passwordForm">
      <h1>Réinitialiser le mot de passe</h1>
      <p>Saisissez votre email et nous allons vous envoyer un lien pour réinitialiser votre mot de passe !</p>
      <ion-list class="ion-list-form">
        <ion-item lines="none">
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" type="email">
          </ion-input>
        </ion-item>
      </ion-list>
      <ion-row class="signin ion-text-right">
        <ion-col>
          <ion-button (click)="onSignIn()" class="btn-default">
            RÉINITIALISER LE MOT DE PASSE
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>