ion-content {

  h1 {
    font-size: 1.3rem;
    margin-bottom: 0;
    margin-top: 0;
  }

  p {
    font-size: 1rem;
    color: #5B6069;
    line-height: 25px;
    margin-bottom: 5px;
  }

  ion-button {
    --background: var(--ion-color-primary);
    --border-radius: 6px;
    --box-shadow: none;
    --padding-bottom: 20px;
    --padding-top: 20px;
    --padding-start: 0px;
    --padding-end: 0px;
    margin: 20px 0px 0px 0px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    height: auto;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    width: calc(100% - 40px);
    margin: auto;
  }

}
