ion-header {
  ion-toolbar {
  --background: #fff;
  }
  img {
    border-radius: 0 !important;
  }
}
ion-content {
  --background: #fff;
}
ion-grid {
  --ion-grid-padding: 0;
}

.logo-container {
  display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    img {
      width: 35%;
    }
}
